.map{
    height: '800px';
    margin-bottom: '300px';
}

.marker{
    background-image: url('https://i.imgur.com/oz3r3Wq.png');
    background-size: cover;
    width: 22px;
    height: 22px;
    background-color: yellow;
    border-radius: 11px;
    border: solid 3px darkslategray;
}